<?xml version="1.0"?>
<robot name="car" xmlns:xacro="http://ros.org/wiki/xacro" >

	<!-- Plugin for colors -->
	<gazebo reference="chassis">
  		<material>Gazebo/Blue</material>
	</gazebo>
	
	<gazebo reference="laser">
  		<material>Gazebo/Yellow</material>
	</gazebo>

	<gazebo reference="right_wheel">
  	<material>Gazebo/Grey</material>
	</gazebo>

	<gazebo reference="left_wheel">
  		<material>Gazebo/Grey</material>
	</gazebo>
	
	<gazebo reference="kinect">
  		<material>Gazebo/Black</material>
	</gazebo>

	<!-- Plugin for differentila drive -->
	<gazebo>
	<plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
	    <legacyMode>false</legacyMode>
	    <alwaysOn>true</alwaysOn>
	    <updateRate>20</updateRate>
	    <leftJoint>joint_left_wheel_chassis</leftJoint>
	    <rightJoint>joint_right_wheel_chassis</rightJoint>
	    <publishWheelTF>True</publishWheelTF>
	    <wheelSeparation>0.2</wheelSeparation>
	    <wheelDiameter>0.2</wheelDiameter>
	    <torque>0.1</torque>
	    <commandTopic>cmd_vel</commandTopic>
	    <odometryTopic>odom</odometryTopic>
	    <odometryFrame>odom</odometryFrame>
	    <robotBaseFrame>chassis</robotBaseFrame>
	  </plugin>
	</gazebo>
	
	
	<!-- Plugin for Kinect sensor -->
	  <gazebo reference="kinect">
	    <sensor type="depth" name="camera1">
		<always_on>1</always_on>
		<visualize>true</visualize>             
		<camera>
		    <horizontal_fov>1.047</horizontal_fov>  
		    <image>
		        <width>640</width>
		        <height>480</height>
		        <format>R8G8B8</format>
		    </image>
		    <depth_camera>

		    </depth_camera>
		    <clip>
		        <near>0.1</near>
		        <far>100</far>
		    </clip>
		</camera>
		     <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
		     <alwaysOn>true</alwaysOn>
		        <updateRate>10.0</updateRate>
		        <cameraName>kinect</cameraName>
		        <frameName>kinect_link</frameName>                   
		    <imageTopicName>rgb/image_raw</imageTopicName>
		    <depthImageTopicName>depth/image_raw</depthImageTopicName>
		    <pointCloudTopicName>depth/points</pointCloudTopicName>
		    <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>              
		    <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>            
		    <pointCloudCutoff>0.4</pointCloudCutoff>                
		        <hackBaseline>0.07</hackBaseline>
		        <distortionK1>0.0</distortionK1>
		        <distortionK2>0.0</distortionK2>
		        <distortionK3>0.0</distortionK3>
		        <distortionT1>0.0</distortionT1>
		        <distortionT2>0.0</distortionT2>
		    <CxPrime>0.0</CxPrime>
		    <Cx>0.0</Cx>
		    <Cy>0.0</Cy>
		    <focalLength>0.0</focalLength>
		    </plugin>
	    </sensor>
	  </gazebo>

</robot>
